<body>
    <%-include('header') %>
        <div style="height: 900px;">
            <h2>Checkout Complete</h2>
            <p>Thank you for your booking.</p>
            <a href="/">Click here to search for a new flight</a>
        </div>
        <!-- Changed the href to point to the root or a specific route that handles new searches -->
        <%- include(' footer') %> <!-- This should include any site-wide footer information -->
</body>