<footer>
    <h4>Customer Care</h4> <br>
    <div>
        <p>Email: ccare@Tbuddy.com <br>
            Phone: +1998223746<br>
            Address: 091 E Main S, Kokomo, IN 46000
        </p>
    </div>
    <div>
        <p>&copy; 2024 Travel Buddy Airline Ticketing Website. All rights reserved.</p>
    </div>
</footer>