<body id="body">
    <%-include ('header') %>
        <main id="'homepageContent" class="content">
            <h2>Welcome to Travel Buddy!</h2>
            <div>
                <h3>ARE YOU READY TO TAKE A FLIGHT ✈️🌍🗺️</h3>
                <p>Look no further! Travel Buddy Airline Ticketing System is your number one gateway to seamless travel
                    experiences. <br></p>

            </div>
            <div id='flight_search'>
                <h3 style="color: green; ">SEARCH FLIGHTS</h3>
                <form style="padding-top: 20px;" action="#" method="post">
                    <table>
                        <tr>

                            <td><input type="text" id="leavingFrom" name="leavingFrom" placeholder="Leaving from"></td>
                            <td><input type="text" id="goingTo" name="goingTo" placeholder="Going to"></td>
                        </tr>
                        <tr>

                            <td>
                                <label for="departureDate">Departure Date:</label>
                                <input type="date" id="departureDate" name="departureDate" placeholder="Departure Date">
                            </td>
                            <td>
                                <label for="returnDate">Return Date:</label>
                                <input type="date" id="returnDate" name="returnDate" placeholder="Return Date">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="quantity">Number of travelers:</label>
                                <input type="number" id="quantity" name="quantity" min="1" max="5">
                            </td>
                            <td style="background-color: green;"><input type="submit" value="Submit"></td>
                        </tr>
                    </table>
                </form>


            </div>


        </main>
        <div id="travel_suggestions">
            <div>
                <p>Want to go Somewhere else:</p>
                <form class="example" action="/action_page.php">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>

            <div class="row justify-content-around">
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <img style="height: 12rem;" class="card-img-top" src="/images/Iowa Spring Tulips.jpg.webp"
                            alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                        </div>
                    </div>

                </div>
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <img style="height: 12rem;" class="card-img-top" src="/images/Iowa Spring Tulips.jpg.webp"
                            alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <img style="height: 12rem;" class="card-img-top" src="/images/Iowa Spring Tulips.jpg.webp"
                            alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%-include('footer') %>

</body>