<body id="sign_in_body">
    <%-include('header') %>

        <div id="sign_in_form">

            <form class="form-signin" action="/register" method="POST">

                <img class="mb-4" src="images/images.png" alt="" width="140" height="140">
                <h1 class="h3 mb-3 font-weight-normal text-center">Create your account</h1>

                <label for="firstName" class="sr-only">First Name</label>
                <input type="text" id="firstName" class="form-control" name="firstName" placeholder="First name"
                    required="" autofocus="">

                <label for="lastName" class="sr-only">last Name</label>
                <input type="text" id="lastName" class="form-control" name="lastName" placeholder="Last name"
                    required="" autofocus="">

                <label for="email" class="sr-only">Email address</label>
                <input type="email" id="email" class="form-control" name="email" placeholder="Email address" required=""
                    autofocus="">
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" class="form-control" placeholder="Password" required=""
                    name="password">
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>

            </form>
        </div>

        <script>
            document.getElementById('password').addEventListener('input', function () {
                var password = document.getElementById('password').value;
                var passwordMessage = document.getElementById('passwordMessage');
                var valid = true;

                if (password.length < 8 || password.length > 10) {
                    passwordMessage.innerHTML = 'Password must be between 8 and 10 characters.';
                    valid = false;
                } else {
                    passwordMessage.innerHTML = '';
                }

                if (!/[A-Z]/.test(password)) {
                    passwordMessage.innerHTML += 'Password must contain at least one uppercase letter.';
                    valid = false;
                }

                if (!/[a-z]/.test(password)) {
                    passwordMessage.innerHTML += 'Password must contain at least one lowercase letter.';
                    valid = false;
                }

                if (!/\d/.test(password)) {
                    passwordMessage.innerHTML += 'Password must contain at least one number.';
                    valid = false;
                }

                if (!/[!@#$%^&*()_+|-=|[\]{};':"\\|,.<>\/?]/.test(password)) {
                    passwordMessage.innerHTML += 'Password must contain at least one special character.';
                    valid = false;
                }

                if (valid) {
                    passwordMessage.innerHTML = '';
                }
            });
        </script>
        <%-include('footer') %>
</body>